![banner](/assets/banner.svg)

[![security: bandit](https://img.shields.io/badge/security-bandit-yellow.svg)](https://github.com/PyCQA/bandit) [![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT) ![GitHub top language](https://img.shields.io/github/languages/top/johandielangman/eze) ![GitHub commit activity](https://img.shields.io/github/commit-activity/w/johandielangman/eze) ![GitHub repo size](https://img.shields.io/github/repo-size/johandielangman/eze)


# {{ project_name | title }}

# ⚙ Installation

For local development, run:

```bash
pip install -r requirements.local.txt
```

---

Made with ❤ by {{ author }}

{% if use_kofi %} [![Buy Me a Coffee](https://img.shields.io/badge/ko--fi-donate-%23FF5E5B?logo=ko-fi&logoColor=white)](https://ko-fi.com/{{ kofi_username }}) {% endif %}